:root {
  /* Full color Palette */
  --trails-bg-purple: #5e51ec;
  --trails-bg-maroon: #a7349e;
  --trails-bg-cyan: #01fff2;
  --trails-bg-blue: #01b2ff;
  --trail-yellow: #fff942;
  --trail-yellow-highlight: #ffdd00;
  --trail-green: #6aff00;
  --trail-orange: #ffa639;
  --trail-dark-orange: #ff7139;
  --trail-shadow: #18144b;
}


/* Custom css property allows transition to select property for animation */
@property --grad-stop-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}

@property --grad-stop-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

[data-theme="light"] {
  /* Color purpose grouped - Light */
  --secondary-color: #f2bf5a;
  --third-color: #e1e8c5;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --background-color-light: var(--trails-bg-purple);
  --background-color-dark: var(--trails-bg-maroon);
  --background-color-darkest: var(--trail-shadow);
  --border-color: var(--trails-bg-blue);
  --button-hover-color: #ddd;
  --alert-background: white;
  --alert-text: black;

  /* Final applied colors - Light */
  --text-color: var(--text-color-light);
  --link-color: var(--trail-yellow);
  --background-color: var(--trails-bg-purple);
  --ui-primary: var(--trails-bg-maroon);
  --ui-secondary: var(--secondary-color);
  --ui-third: var(--third-color);
}

[data-theme="dark"] {
  /* Color purpose grouped - Dark */
  --primary-color: #d0e8c5;
  --secondary-color: #f2bf5a;
  --third-color: #e1e8c5;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --background-color-light: #c5d3e8;
  --background-color-dark: #a6aebf;
  --background-color-darkest: #393e4b;
  --border-color: var(--trails-bg-blue);
  --button-hover-color: #ddd;
  --alert-background: var(--trail-orange);
  --alert-text: black;

  /* Final applied colors - Dark */
  --text-color: var(--text-color-light);
  --link-color: var(--trail-yellow);
  --background-color: var(--trail-shadow);
  --ui-primary: var(--trails-bg-maroon);
  --ui-secondary: var(--secondary-color);
  --ui-third: var(--third-color);


}

.transparent-bg {
  background: transparent !important;
}

.scroll-top .navbar {
  background-color: transparent;
}

.justify-center {
  justify-content: center;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

#mission-target,
#projects-target,
#contact-target {
  position: relative;
  top: -80px;
}

.navbar {
  display: block;
  background-color: var(--background-color);
  width: 100%;
}

.navbar-collapse {
  background: transparent;
}

.navbar-nav {
  float: right;
  padding: 10px 20px 10px 10px;
  text-align: right;
  position: relative;
}

#root {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
}

.bi {
  font-size: xx-large;
  color: var(--trail-yellow);
}

.navbar-link {
  font-weight: 600 !important;
  color: var(--trail-yellow) !important;
  background-color: var(--trail-shadow) !important; 
  padding: 10px !important;
}
.navbar-link:hover {
  font-weight: 600 !important;
  color: white !important;
}

.active {
  font-weight: bold;
  color: var(--trail-yellow-highlight);
}

img {
  position: relative;
  object-fit: cover;
  width: 100%;
  /* margin-bottom: 0px; */
  top: 0px;
}

.container.hero > h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.container.hero > h6 {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.hero-img {
  border-radius: 100%;
  width: clamp(120px, 20vw, 200px);
  height: clamp(120px, 20vw, 200px);
  border: 7px solid gold;
  overflow: hidden;
  margin: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--background-color) 0%, var(--background-color) 30%, var(--background-color) var(--grad-stop-1), transparent var(--grad-stop-2)), url("/img/arrow\ swarm\ trails.png") lightgray;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: --grad-stop-1 0.5s ease, --grad-stop-2 0.5s ease;
}

[data-theme="light"] .hero-content {
  --grad-stop-1: 60%;
  --grad-stop-2: 100%;
}

[data-theme="dark"] .hero-content {
  --grad-stop-1: 70%;
  --grad-stop-2: 200%;
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/arrow\ swarm\ trails.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 37vh;
  margin: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

section {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > h4 {
  margin-bottom: 20px;
  border-bottom: solid 5px var(--border-color);
  width: 200px;
  padding-bottom: 8px;
  margin: 0 auto 30px auto;
}

#mission-section {
  /* height: 50px; */
}

#skills-section {
  /* height: 50px; */
}

#contact-section {
  /* height: 50px; */
}

#footer-section {
  background-color: var(--trails-bg-maroon);
  text-align: center;
  padding: 10px;
  margin: 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.footer-content > a {
  color: var(--trail-yellow) !important;
}
.footer-content > a:hover {
  color: var(--trail-yellow-highlight) !important;
}

.skills {
  margin: 0 80px;
}

.skill {
  padding: 0 20px;
  margin-bottom: 40px;
  text-align: center;
}

.skill > img {
  height: 200px;
  object-fit: contain;
}

.skill > p {
  font-size: larger;
  margin-top: 10px;
}

.contact {
  /* height: 100px; */
  font-size: 50px;
}

.contact > a {
  color: var(--trail-yellow);
  font-size: 50px;
  /* margin: 0 20px; */
}

.contact > a:hover {
  color: var(--trail-dark-orange);
}

#meme-section {
  width: 90%;
}

.carousel {
  width: 100%;
}

.carousel-item {
  height: 300px;
  width: 100%;
}

.carousel-item > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  margin: auto;
}

.carousel-caption {
  background-color: rgb(0, 0, 0, 0.4);
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-link-small {
  width: 20px;
  height: 30px;
  margin: 2px 4px;
}

.notice {
  background-color: var(--alert-background);
  color: var(--alert-text);
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: larger;
}

@media (max-width: 768px) {  
  .small-hide {
    display: none;
  }
  .navbar-nav {
    position: relative;
    right: -20px;
    top: -50px; 
    text-align: "left"; 
  }
}
